.left-footer-image {
  height: 55px;
}

.left-footer-padding {
  padding-right: 45px;
}

.right-footer-padding {
  padding-right: 10px;
}

.right-footer-list-padding {
  padding-top: 25px;
}

.hashtag-font-size {
  font-size: 1.4em;
}
