.header-full {
  background-image: url("../images/patterns-green-background.svg");
  background-repeat: repeat;
}

.header-logo {
  background-image: url("../images/witvlak.svg");
  background-repeat: no-repeat;
  font-size: 18px;

  a {
    display: inline-block;
  }
}

.header-logo {
}

.current-menu-item,
.page-template-page-green .menu-item-28,
.page-template-page-blue .menu-item-26,
.single-post .menu-item-27 {
  > a {
    color: $green;
    border-bottom: 7px solid $green;
  }
}

.in li {
  clear: both;
}

.collapse li {
  float: left;
}

.tceu-header {
  color: transparent;
  font: 0 / 0 a;
  display: inline;
}
