.header-bg {
  background:         url("../images/witvlak.svg"),
                      url("../images/patterns-green-background.svg");
  background-repeat:  no-repeat,
                      repeat;
}

.tceu-header {
  color: transparent;
  font: 0 / 0 a;
  display: inline;
}
