.page-green {
  h3, h4 {
    color: $green;
  }
}

.page-blue {
  h3, h4 {
    color: $blue;
  }
}

.btn-app-submit {
  background-color: $blue;
  color: white;
  font-size: 24px;

  &:hover {
    color: $blue-light;
  }
}
