.schedule {
    padding-top: 0px;
    padding-bottom: 0px;

    .tabs_box_navigation_selected {
        display: none;
    }

    .sf-timetable-menu {
        margin-bottom: 0px !important;
    }

    .tt_responsive .tt_timetable {
        margin-top: 5px !important;
    }
}
